body {
    background-color:Red;
    }
    header {
    background-color: #585252;
    text-align: center;
    padding: 10px;
    
   
    }
    .topnav {
    overflow: hidden;

    background-color: rgb(131, 131, 131);
    }
    .pic{
        background-color: rgb(15, 183, 189);
        float: none;
        display: block;
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
        }
    