@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&display=swap');
body {
    margin: 1%;
    background-color: rgb(15, 183, 189);
    text-align: center;
    
    
}
h1 {
    text-align: center;
    color: #1f1e1c;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    text-align: center;
    color: #1f1e1c;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;

}
a {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 150%;
    background-color: #ebe8e850;
    color: #000000;
    width: 15%;
    padding: 1%;
    border-radius: 4px;
    margin: 6px;
}

nav a:hover {
    background-color: #ffffff;
    color: #0000ff;
}

form {

    display: inline-block;
    margin-top: 10px;
}
h2 {
    text-align: center;
    color: #1f1e1c;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;

}
.container {
    width: 1140px;
    margin: 0 auto;

}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.pad-70 {
    padding: 70px;
}

.right {
    width: 80%;
    display: inline-block;
    font-size: 125%;
    background: #ffffff;
    text-align: left;
    font-family: "Times New Roman", Times, serif;

}
.left {
    background-color: #808000;
    padding: 1%;
    width: 15%;
    margin-right: 2%;
    float: left;
    height: 575px;

}

.left img {
    width: 80%;
    border: 2px solid #000000;
    margin: 20px 20px 10px 20px;
}
.btn {
    padding: 20px 30px;
    border: 1px solid #626262;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

/* Change color on hover */


table {
    width: 80%;
    margin: 0 auto;
    font-size: 100%;
    font-weight: bold;
    line-height: 100%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

tr th {
    border: 1px solid #b6cb1b;
    border-bottom: 3px solid #b6cb1b;
    border-radius: 5px 5px 0 0;
    background: #38bdb6;
    background: -moz-linear-gradient(top, #38bdb6 0%, #747d20 100%);
    background: -webkit-linear-gradient(#38bdb6 0%, #747d20 100%);
    background: -o-linear-gradient(#38bdb6 0%, #747d20 100%);
    background: linear-gradient(#38bdb6 0%, #747d20 100%);
    height: 50px;
    padding-left: 10px;

}

tr td {
    opacity: 0.8;
    padding: 1%;
    background-color: #dfefe6;
    color: #6a752a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 90%;
}

tr td:first-child,
table tr th:first-child {
    text-align: left;
}

tr:hover td {
    opacity: 1;
    text-shadow: 2px 2px 2px #949e59;
}
a {
    display: block;
    background-color: #dfefe6;
    color: #6a752a;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    margin: auto;
    margin-bottom: 10%;
    width: 35%;
}
/* main */
.tag{
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 20px;
}
.post {
    width: 48%;
}

.post img {
    width: 100%;
    margin-bottom: 30px;

}

.row {
    overflow: auto;
    margin-bottom: 70px;
}

.post-left {
    float: left;
}

.post-right {
    float: right;
}

/* main */
/*footer start*/
footer {
    background-color: #f0f0f0;
    padding: 20px 0;
}

.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;

}

.footer-menu li {
    float: left;
    margin-right: 10px;

}

.footer-menu li a {
    color: #444;
    font-weight: bold;
    text-decoration: none;


}

.footer-left {
    float: left;

}

.footer-right {
    float: right;

}

.footer-wrap {
    overflow: auto;
}

/*footer end*/




